{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>Stockopedia: {% block title %}{% endblock %}</title>
        
    </head>
    <style>
        #footer {
            position:absolute;
            bottom:0;
            width:100%;
            height:30px;
            background:#3B3A3A;
        }
    </style>
    
    <body>

        <div class="container">

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                <div class="navbar-header">
                
                <a class="navbar-brand" href="/stock/" style="color: #FFFFFF;">Stockopedia</a>
                </div>
                <ul class="nav navbar-nav">
                
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/stock/history/" style="color: #FFFFFF;"> Historical data</a></li>
                    <li><a href="/stock/predict/" style="color: #FFFFFF;"> Predict prices</a></li>
                </ul>
                </div>
            </nav> 

            <main>
                {% block main %}{% endblock %}
            </main>
            
        </div>
    </body>
</html>  